<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <title>Manage protected resources</title>
</head>
<body class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-11 col-lg-10 m-1 p-3 rounded" style="background: #eeeeee">
        <form th:action="@{/user/login}" method="post">
            <h3 class="text-center" th:text="${'Welcome, ' + username + '!'}"></h3>
            <p>Work in progress...</p>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
