<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <title>Authorize OAuth client</title>
    </head>
    <body>
        <h1>Authorize client '<span th:text="${client_name}" th:remove="tag"></span>'?</h1>
        <form method="post" th:action="@{/oauth/authorize}">
            <p>The client is requesting access to the following:</p>
            <ul>
                <li th:each="item : ${scope}" th:with="id = 'scope_' + ${item}">
                    <input type="checkbox" th:name="${id}" th:id="${id}" checked="checked">
                    <label th:for="${id}" th:text="${item}"></label>
                </li>
            </ul>
            <input type="hidden" name="reqId" th:value="${reqId}">
            <input type="submit" name="approve" value="Approve">
            <input type="submit" name="deny" value="Deny">
        </form>

        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
