<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

        <title>Register an account</title>
    </head>
    <body class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-5 m-1 p-3 rounded" style="background: #eeeeee">
                <form th:action="@{/user/register}" method="post">
                    <h3 class="text-center">Register an account</h3>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" name="username" id="username" required
                               class="form-control" th:value="${username}">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" id="password" required
                               minlength="8" class="form-control" th:value="${password}">
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">Confirm password:</label>
                        <input type="password" name="password_confirm" id="password_confirm" required
                               minlength="8" class="form-control" th:value="${password_confirm}">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="mfa" name="mfa" value="checked">
                            <label for="mfa" class="form-check-label">Use Multi-Factor Authentication</label>
                        </div>
                    </div>
                    <div class="mb-3" th:if="${message != null}">
                        <p th:text="${message}" class="text-danger"></p>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
