<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" id="form_register">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required pattern="^.+@.+\.[a-z]{2,4}$">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required minlength="8">
        <input type="submit" value="Register">
    </form>
    <div id="message-div" style="display: none">
        <p id="message"></p>
    </div>
</body>
<script>
    document.getElementById('form_register').onsubmit = async function(event) {
        event.preventDefault();
        const message_p = document.getElementById("message");
        const request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState !== 4) return;
            if (request.status !== 200) {
                const body = JSON.parse(request.response);
                message_p.textContent = "Registration failed! Reason: " + body.error;
            } else {
                message_p.textContent = "Registration successful!";
            }
            document.getElementById("message-div").style.display = "block";
        }
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        request.open('POST', '/user/register', true);
        request.send(new URLSearchParams({"email": email, "password": password}));
    }
</script>
</html>